[Web Services]
appsignature: none
clientid: XXXXXXXXXXXXXXXXXXXXXXXX
clientsecret: XXXXXXXXXXXXXXXXXXXXXXXX
defaultwsdl: https://<TENANT-SUBDOMAIN>.soap.marketingcloudapis.com/ETFramework.wsdl
baseapiurl: https://<TENANT-SUBDOMAIN>.rest.marketingcloudapis.com/
authenticationurl: https://<TENANT-SUBDOMAIN>.auth.marketingcloudapis.com/v1/requestToken
soapendpoint: https://<TENANT-SUBDOMAIN>.soap.marketingcloudapis.com/Service.asmx

[Auth Service]
useOAuth2Authentication: False
accountId: XXXXXXX
applicationType: server
